node_modules
.next
out
dist
coverage
.playwright
test-results
playwright-report
.env
.env.local
.env.*.local
.DS_Store
*.log
.vercel
.turbo
.vscode/*
!.vscode/settings.json
.idea
tsconfig.tsbuildinfo
